# ОС
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Visual Studio / MSBuild (C/C++)
.vs/
[Bb]in/
[Oo]bj/
[Ll]og/
[Dd]ebug*/
[Rr]elease*/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Oo]ut/
ipch/
*.ipch
*.obj
*.iobj
*.pch
*.pdb
*.idb
*.ilk
*.tlog
*.lastbuildstate
*.log
*.cachefile
*.suo
*.user
*.userosscache
*.ncb
*.sdf
*.opensdf
*.dbmdl
*.opendb
*.VC.db
*.VC.VC.opendb
*.sln.docstates
*.tmp
*.tmp_proj
*_i.c
*_p.c
*.tlh
*.tli
*.psess
*.vsp
*.vspx
*.vspscc

# Исполняемые/библиотеки (артефакты сборки)
*.exe
*.dll
*.lib
*.exp
*.appx
*.msi
*.msix
*.msixbundle
*.msixupload

# NuGet
packages/
*.nupkg
*.snupkg
.nuget/

# CMake (если используется с VS)
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
cmake-build-*/
_ctest/
_deps/
compile_commands.json
CTestTestfile.cmake
install_manifest.txt

# VS Code / JetBrains
.vscode/
.idea/

# Python (общие)
__pycache__/
*.py[cod]
*$py.class
.Python
.eggs/
*.egg
*.egg-info/
dist/
build/
wheels/
pip-wheel-metadata/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.coveragerc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pytype/
.pyre/
.hypothesis/
.ipynb_checkpoints/

# Виртуальные окружения Python
.venv/
venv/
env/
ENV/

# Конфигурации/секреты
.env
.env.*

# Django (локальная БД и статические артефакты)
*.sqlite3
*.sqlite3-journal
media/
staticfiles/

# Логи
*.log

# Проект-специфика
Client-Server/uploads/