{% extends "base.html" %}
{% block content %}
<h2>{{ 'Edit User' if user else 'Create User' }}</h2>
<form method="post" action="{{ action }}">
  <label>Username</label>
  <input name="username" value="{{ user.username if user else '' }}" required minlength="3" maxlength="50">
  <label>Email</label>
  <input name="email" type="email" value="{{ user.email if user else '' }}" required>
  <label>Password</label>
  <input name="password" type="password" value="" {{ 'required' if not user else '' }}>
  <button type="submit">Save</button>
</form>
{% endblock %}
